.root {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: grid;
  place-items: center;
}
.heading{
  display: flex;
  flex-direction: row;
}
.logo {
  flex: 0.1;
  height: 10rem;
  padding: 5px;
}
.logo__aicte {
  flex: 0.1;
  height: 8rem;
  padding: 20px;
}