.main-div {
  min-height: 600px;
  padding-top: 50px;
  height: max-content;
}

.uni-div {
  color: brown;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

.clg-div {
  color: red;
  font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 600px) {
  img {
    height: 60px;
    width: 60px;
  }
  .main-div {
    height: min-content;
  }
}
