.swiper_container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper_slide {
  background-position: center !important;
  background-size: cover !important;
  width: 380px !important;
  height: 450px !important;
}

.swiper_slide img {
  display: block;
  width: 100%;
  /* border-radius: 50%; */
}
@media only screen and (max-width: 1024px) {
  .swiper_slide {
    background-position: center !important;
    background-size: cover !important;
    width: 300px !important;
    height: 300px !important;
  }
}
@media only screen and (max-width: 768px) {
  .swiper_slide {
    background-position: center !important;
    background-size: cover !important;
    width: 250px !important;
    height: 250px !important;
  }
}
@media only screen and (max-width: 428px) {
  .swiper_slide {
    background-position: center !important;
    background-size: cover !important;
    width: 180px !important;
    height: 180px !important;
  }
}