@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
.div {
  /* display: grid;
  place-items: center; */
  text-align: center;
  position: relative;
  /* margin: 50px auto; */
}
/* .span {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-bottom: 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: rgba(orange, 0.75);
  text-shadow: 1px 2px 4px lighten(orange, 45%), 0px 0px 0px darken(orange, 100%),
    0px 0px 2px lighten(orange, 80%);
} */
.topRight {
  display: inline-block;
  position: absolute;
  background: #faa;
  height: 3px;
  left: 53%;
  width: 70px;
  top: 22px;
  transform: translateX(80px);
}
.topLeft{
  display: inline-block;
  position: absolute;
  background: #faa;
  height: 3px;
  left: 47%;
  width: 70px;
  top: 22px;
  transform: translateX(-150px);
}
.bottomLeft{
  display: inline-block;
  position: absolute;
  background: #faa;
  height: 3px;
  left: 47%;
  width: 120px;
  top: 35px;
  transform: translateX(-200px);
}
.bottomRight{
  display: inline-block;
  position: absolute;
  background: #faa;
  height: 3px;
  left: 53%;
  width: 120px;
  top: 35px;
  transform: translateX(80px);
}